
.btn {
    color:rgb(64, 131, 255);
    text-align: center;
    width: 80%;
    margin: 2rem;
    padding: 0.5rem !important;
    background-color: #fff;
    border: 1px solid rgb(64, 131, 255);
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: auto !important;
  }
  
  .btn:hover {
    background-color: rgb(64, 131, 255);
    color: #fff;
    transition: all 0.3s;
  }
  
  .btn-blue {
    background-color: rgb(64, 131, 255);
    color: #fff;
  }
  
  .btn-blue:hover {
    background-color: #fff !important;
    color: rgb(64, 131, 255) !important;
    transition: all 0.3s;
  }
  