*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.chart-wrapper {
  width: 60vw;
  height: auto;
  margin: 2rem;
  padding: 3rem;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* justify-content: center; */
  /* align-items: center; */
}
.charts-wrapper {
  display: flex;
  flex-direction: row;
}

.line-chart{
    width: 60vw;
    height: 329px;
}
.spending{

    height: 30rem;
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text{
    margin-bottom: 1rem;
}